<?xml version="1.0" encoding="UTF-8"?>
<config>

    <modules>
        <Cm_Diehard>
            <version>0.0.1</version>
        </Cm_Diehard>
    </modules>

    <global>
        <blocks>
            <diehard>
                <class>Cm_Diehard_Block</class>
            </diehard>
        </blocks>
        <models>
            <diehard>
                <class>Cm_Diehard_Model</class>
            </diehard>
        </models>
        <helpers>
            <diehard>
                <class>Cm_Diehard_Helper</class>
            </diehard>
        </helpers>
        <cache>
            <types>
                <diehard translate="label,description" module="diehard">
                    <label>Full Page Cache</label>
                    <description>Full Page Cache provided by Cm_Diehard</description>
                    <tags>DIEHARD,DIEHARD_URLS</tags>
                </diehard>
            </types>
        </cache>
        <events>
            <!-- When cache tags are cleaned, invalidate cached pages -->
            <application_clean_cache>
                <observers>
                    <diehard>
                        <type>singleton</type>
                        <class>diehard/observer</class>
                        <method>applicationCleanCache</method>
                    </diehard>
                </observers>
            </application_clean_cache>
        </events>
    </global>

    <frontend>
        <layout>
            <updates>
                <diehard>
                    <file>diehard.xml</file>
                </diehard>
            </updates>
        </layout>
        <routers>
            <diehard>
                <use>standard</use>
                <args>
                    <module>Cm_Diehard</module>
                    <frontName>_diehard</frontName>
                </args>
            </diehard>
        </routers>
        <events>
            <!-- Check if cache should be enabled -->
            <controller_action_predispatch>
                <observers>
                    <diehard>
                        <type>singleton</type>
                        <class>diehard/observer</class>
                        <method>processPreDispatch</method>
                    </diehard>
                </observers>
            </controller_action_predispatch>

            <!-- If cache is enabled, let backend cache response -->
            <http_response_send_before>
                <observers>
                    <diehard>
                        <type>singleton</type>
                        <class>diehard/observer</class>
                        <method>httpResponseSendBefore</method>
                    </diehard>
                </observers>
            </http_response_send_before>

            <!-- Collect all loaded cache tags to associate with page -->
            <model_load_after>
                <observers>
                    <diehard>
                        <type>singleton</type>
                        <class>diehard/observer</class>
                        <method>modelLoadAfter</method>
                    </diehard>
                </observers>
            </model_load_after>
        </events>
    </frontend>

    <diehard>

        <!-- Cacheable actions and their lifetimes -->
        <actions>
            <cms_index_index>86400</cms_index_index>
            <cms_page_view>86400</cms_page_view>
            <catalog_product_view>86400</catalog_product_view>
            <catalog_category_view>86400</catalog_category_view>
        </actions>

        <!-- List of available cache backend models -->
        <backends>
            <magento>
                <label>Magento Cache</label>
                <model>diehard/backend_magento</model>
            </magento>
            <file>
                <label>File Cache</label>
                <model>diehard/backend_file</model>
            </file>
            <proxy>
                <label>Basic Reverse-Proxy Cache</label>
                <model>diehard/backend_proxy</model>
            </proxy>
            <revalidating>
                <label>Re-validating Reverse-Proxy Cache</label>
                <model>diehard/backend_revalidating</model>
            </revalidating>
        </backends>

        <!-- Supported javascript libraries for dynamic block replacement -->
        <jslibs>
            <prototype>
                <label>Prototype (default)</label>
                <path>diehard/fpc-prototype.js</path>
            </prototype>
            <!-- Not currently implemented
            <jquery>
                <label>jQuery</label>
                <path>diehard/fpc-jquery.js</path>
            </jquery>
            -->
        </jslibs>

        <!-- Blocks that are ignored for fresh sessions (ignored by default) -->
        <ignored>
            <foo/>
            <bar/>
        </ignored>
    </diehard>
    
    <default>
        <system>
            <diehard>
                <usejs>1</usejs>
                <jslib>diehard/fpc-prototype.js</jslib>
            </diehard>
        </system>
        <dev>
            <template>
                <allow_symlink>1</allow_symlink>
            </template>
        </dev>
    </default>

</config>
